<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-Zenh87qX5JnK2Jl0vWa8Ck2rdkQ2Bzep5IDxbcnCeuOxjzrPF/et3URy9Bv1WTRi" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/Dashboard.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.2/font/bootstrap-icons.css">
    <title>View Attendance</title>
</head>
<script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://unpkg.com/axios/dist/axios.min.js"></script>

<body class="bg-light">
    <%- include ("./partials/navbar") %>
        <!-- ------------- Subject Info and Attendence Table--------------- -->
        <div class="row mt-4 teacher-attendence-wrapper">

            <!-- <div class="col-lg-3 box3 p-4"> -->
            <!-- <div class="row">
                <h3>Student List</h3>
                <hr>
            </div> -->
            <!-- <div class="row">
                <div class="list-group list-students " data-spy="scroll">
                    <a href="#" class="list-group-item list-group-item-action active">
                        Anurag Pandey - 1904980
                    </a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>
                    <a href="#" class="list-group-item list-group-item-action">Anurag Pandey - 1904980</a>

                </div>
            </div> -->
            <!-- </div> -->
            <div class="col-lg-8 offset-lg-0 box3">
                <div class="row">
                    <h3 class="text-center">Student Information</h3>
                    <hr>
                </div>
                <div style="text-align:center" class="row mt-4">



                    <table id="myTable" class="table attendence-table table-hover  ">
                        <thead>
                            <tr>
                                <th>URN</th>
                                <th>Name</th>
                                <th>Email</th>
                                <th>Branch</th>

                            </tr>
                        </thead>
                        <tbody>
                            <% students.forEach(function(student){ %>
                                <tr>
                                    <td>
                                        <%= student.urn %>
                                    </td>
                                    <td>
                                        <%= student.name %>
                                    </td>
                                    <td>
                                        <%= student.email %>
                                    </td>
                                    <td>
                                        <%= student.branch %>
                                    </td>
                                </tr>
                                <%  }); %>
                        </tbody>
                    </table>
                </div>
            </div>



            <script>
                // get the table element
                var $table = document.getElementById("myTable"),
                    // number of rows per page
                    $n = 7,
                    // number of rows of the table
                    $rowCount = $table.rows.length,
                    // get the first cell's tag name (in the first row)
                    $firstRow = $table.rows[0].firstElementChild.tagName,
                    // boolean var to check if table has a head row
                    $hasHead = ($firstRow === "TH"),
                    // an array to hold each row
                    $tr = [],
                    // loop counters, to start count from rows[1] (2nd row) if the first row has a head tag
                    $i, $ii, $j = ($hasHead) ? 1 : 0,
                    // holds the first row if it has a (<TH>) & nothing if (<TD>)
                    $th = ($hasHead ? $table.rows[(0)].outerHTML : "");
                // count the number of pages
                var $pageCount = Math.ceil($rowCount / $n);
                // if we had one page only, then we have nothing to do ..
                if ($pageCount > 1) {
                    // assign each row outHTML (tag name & innerHTML) to the array
                    for ($i = $j, $ii = 0; $i < $rowCount; $i++, $ii++)
                        $tr[$ii] = $table.rows[$i].outerHTML;
                    // create a div block to hold the buttons
                    $table.insertAdjacentHTML("afterend", "<div id='buttons'></div");
                    // the first sort, default page is the first one
                    sort(1);
                }

                // ($p) is the selected page number. it will be generated when a user clicks a button
                function sort($p) {
                    /* create ($rows) a variable to hold the group of rows
                     ** to be displayed on the selected page,
                     ** ($s) the start point .. the first row in each page, Do The Math
                     */
                    var $rows = $th,
                        $s = (($n * $p) - $n);
                    for ($i = $s; $i < ($s + $n) && $i < $tr.length; $i++)
                        $rows += $tr[$i];

                    // now the table has a processed group of rows ..
                    $table.innerHTML = $rows;
                    // create the pagination buttons
                    document.getElementById("buttons").innerHTML = pageButtons($pageCount, $p);
                    // CSS Stuff
                    document.getElementById("id" + $p).setAttribute("class", "active");
                }


                // ($pCount) : number of pages,($cur) : current page, the selected one ..
                function pageButtons($pCount, $cur) {
                    /* this variables will disable the "Prev" button on 1st page
                       and "next" button on the last one */
                    var $prevDis = ($cur == 1) ? "disabled" : "",
                        $nextDis = ($cur == $pCount) ? "disabled" : "",
                        /* this ($buttons) will hold every single button needed
                         ** it will creates each button and sets the onclick attribute
                         ** to the "sort" function with a special ($p) number..
                         */
                        $buttons = "<input type='button'  value='&lt;&lt; Prev'    onclick='sort(" + ($cur - 1) + ")' " + $prevDis + ">";
                    for ($i = 1; $i <= $pCount; $i++)
                        $buttons += "<input type='button' id='id" + $i + "'value='" + $i + "' onclick='sort(" + $i + ")'>";
                    $buttons += "<input type='button' value='Next &gt;&gt;' onclick='sort(" + ($cur + 1) + ")' " + $nextDis + ">";
                    return $buttons;
                }
            </script>
            <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-OERcA2EqjJCMA+/3y+gxIOqMEjwtxJY7qPCqsdltbNJuaOe923+mo//f6V8Qbsw3" crossorigin="anonymous"></script>

</body>

</html>